@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.menu, .main-banner{
    font-family: var(--font-famili-ubuntu);
}
body ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: var(--color-white);
    }
}
.footer-content {
    font-family: var(--font-famili-ubuntu);
    margin-bottom: 0;
}

body h2,body h3,body h4,h5{
    margin-bottom: 0;
    text-align: center;
}
.title-h2{
    // text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--weight-normal);
    padding-bottom: var(--space-yrem);
}
.title-h3{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-normal);
}
#body{
    font-family: var(--font-famili-poppins);
    // z-index: var(--z-normal);
    // position: relative;
}
body p{
    font-size: var(--body-font-size);
}
.position{
    position: relative;
    z-index: var(--z-tooltip);
}
