@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.menu, .main-banner{
    font-family: var(--font-famili-ubuntu);
}
body ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: var(--color-white);
    }
}
.title,.footer-content {
    font-family: var(--font-famili-ubuntu);
    margin-bottom: 0;
    &-h2{
        text-align: center;
        font-size: var(--h2-font-size);
        font-weight: var(--slim-weight500);
        padding-bottom: var(--space-yrem);
    }
}

body h1,h2,h3,h4,h5{
    margin-bottom: 0;
}
body main{
    font-family: var(--font-famili-poppins);
    // z-index: var(--z-normal);
    background-color: var(--color-white);
}
