//TODO: checa los espacios
.mb-content{
    margin-bottom: var(--space-yrem);
}
.block-img{
    width: 100%;
    height: auto;
    margin: .5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
.img__frank{
    margin: 0;
    height: 20rem;
}