//TODO: checa los espacios
.mb-content{
    margin-bottom: var(--space-yrem);
}
.block-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
