@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --font-famili-poppins:'Poppins', sans-serif;
  --font-famili-ubuntu: 'Ubuntu', sans-serif;
  --header-menu:auto;
  --space-yrem:2rem;
  --bottom-pseudo-befor:-5rem;
  --bottom-pseudo-after:-6rem; }
  @media screen and (min-width: 768px) {
    :root {
      --header-menu:4rem;
      --space-yrem:4rem;
      --bottom-pseudo-befor:-8.1rem;
      --bottom-pseudo-after:-9rem; } }

:root {
  --color-first:hsl(82, 27%, 92%);
  --color-border:hsl(81, 47%, 52%);
  --color-alert: #F24D0A;
  --color-secon:hsl(91, 25%, 43%);
  --color-white:white;
  --color-black:rgb(5, 5, 5);
  --color-strong-gray:rgb(49, 49, 49);
  --color-shadow: 0 .5rem 2rem rgb(5, 5, 5); }

:root {
  --z-back: -10;
  --z-normal:1;
  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000; }

:root {
  --h1-font-size:2rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --body-font-size:1rem;
  --nav-font-size:1.1rem;
  --banner-font-size:1.6rem;
  --banner-font-size-slim:.9rem;
  --small-font-size:.75rem; }
  @media screen and (min-width: 768px) {
    :root {
      --h1-font-size:2.5rem;
      --h2-font-size:2rem;
      --h3-font-size:1.5rem;
      --body-font-size:1.2rem;
      --nav-font-size:1.2rem;
      --banner-font-size:2rem;
      --banner-font-size-slim:1rem;
      --small-font-size:.8rem; } }

:root {
  --weight-slim:400;
  --weight-normal:600;
  --weight-bold:700; }

.menu, .main-banner {
  font-family: var(--font-famili-ubuntu); }

body ul {
  margin: 0;
  padding: 0; }
  body ul li {
    list-style: none; }
  body ul a {
    text-decoration: none;
    color: var(--color-white); }

.footer-content {
  font-family: var(--font-famili-ubuntu);
  margin-bottom: 0; }

body h2, body h3, body h4, h5 {
  margin-bottom: 0;
  text-align: center; }

.title-h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--weight-normal);
  padding-bottom: var(--space-yrem); }

.title-h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-normal); }

#body {
  font-family: var(--font-famili-poppins); }

body p {
  font-size: var(--body-font-size); }

.position {
  position: relative;
  z-index: var(--z-tooltip); }

.boxShadow {
  box-shadow: var(--color-shadow); }

.block__window {
  z-index: var(--z-tooltip);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 83, 83, 0.829);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: auto;
  z-index: var(--z-modal); }

.block__pdf {
  position: relative;
  top: 20px;
  height: 80%; }

.alertaWhat {
  padding: 1rem;
  border: 2px solid rgba(255, 255, 0, 0.924);
  border-radius: .5rem;
  background-color: var(--color-border);
  position: absolute;
  top: 100px;
  left: 40%; }

.menu {
  z-index: var(--z-modal);
  position: fixed;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  transition: all .3s ease-in; }
  .menu-scrolly {
    background-color: var(--color-secon); }
    .menu-scrolly .menu__logo {
      color: black; }
    .menu-scrolly .menu-color-logo {
      color: var(--color-white); }
  .menu-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 1rem 0; }
    @media screen and (min-width: 768px) {
      .menu-block {
        flex-flow: row wrap;
        justify-content: space-between; } }

.menu__logo {
  letter-spacing: .4rem;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-white);
  transition: all .3s ease-in; }

.menu-color-logo {
  color: var(--color-secon);
  transition: all .3s ease-in; }

.stile {
  width: 50px;
  height: 50px;
  font-size: 15px;
  display: inline; }

.menu-nav__block {
  font-size: var(--nav-font-size);
  font-weight: var(--weight-slim);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1; }

.menu__li {
  display: inline-block; }

.menu__link {
  display: block;
  padding: .5rem 1rem;
  transition: color .3s ease; }
  .menu__link:hover {
    color: var(--color-alert); }

.banner {
  z-index: var(--z-normal);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 6.8rem auto 13rem;
  grid-template-areas: "menu" "block__cv" "block__tool";
  position: sticky;
  top: 0; }
  @media screen and (min-width: 768px) {
    .banner {
      grid-template-rows: 6.8rem auto 22rem; } }

.banner__img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  object-position: center;
  object-fit: cover;
  background-color: #353636; }

.item__block-cv {
  grid-area: block__cv;
  display: flex;
  align-items: center;
  justify-content: center; }

.item__block-tool {
  grid-area: block__tool;
  overflow: hidden;
  display: flex; }

.banner__content-tool {
  display: flex;
  align-items: center;
  overflow: scroll;
  color: var(--color-white); }
  @media screen and (min-width: 992px) {
    .banner__content-tool {
      overflow: hidden; } }

.banner__content-tool h4 {
  text-align: start;
  font-size: var(--nav-font-size); }

.banner__content-tool p {
  font-size: var(--banner-font-size-slim); }

.banner__content-mi {
  position: absolute; }

div .banner__filter {
  box-shadow: var(--color-shadow);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: rgba(59, 56, 56, 0.726);
  border-radius: 5px;
  padding: 10px; }

.banner__text {
  font-size: var(--banner-font-size);
  font-weight: var(--weight-bold);
  color: var(--color-secon); }
  @media screen and (min-width: 768px) {
    .banner__text {
      color: var(--color-black); } }

.banner__text-change {
  -webkit-text-stroke: .4px black;
  color: var(--color-black); }
  @media screen and (min-width: 768px) {
    .banner__text-change {
      color: var(--color-secon); } }

.banner__img-mi {
  width: 60%;
  box-shadow: var(--color-shadow); }
  @media screen and (min-width: 768px) {
    .banner__img-mi {
      width: 100%; } }

.mb-content {
  margin-bottom: var(--space-yrem); }

.block-img {
  width: 100%;
  height: auto;
  margin: .5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem; }

.img__frank {
  margin: 0;
  height: 20rem; }

body .btn {
  display: block;
  padding: .8em 1em;
  margin-top: 20px;
  background-color: var(--color-secon);
  color: var(--color-white);
  border: 2px solid var(--color-secon);
  border-radius: .3em;
  transition: all .3s ease; }
  body .btn:hover {
    color: var(--color-secon);
    background-color: transparent; }

main .btn__proyec {
  padding: .2em 2em;
  margin: 0 .5rem; }
  main .btn__proyec:hover {
    color: var(--color-white); }

main .btn__contact:hover {
  color: var(--color-white); }

.btn_up-scroll {
  z-index: var(--z-tooltip);
  display: inline-block;
  position: sticky;
  left: 90%;
  top: 80%;
  cursor: pointer;
  font-size: 2rem;
  transition: all .5s ease-in-out; }
  .btn_up-scroll :hover {
    color: var(--color-alert);
    background-color: transparent; }

.fa-angle-double-up {
  padding: .5rem;
  border-radius: 4px;
  border: 2px solid var(--color-alert);
  line-height: 1;
  background-color: var(--color-alert);
  color: var(--color-white); }

.icon-down {
  color: var(--color-gray);
  font-size: 1.5rem; }

body main {
  z-index: var(--z-normal);
  background-color: var(--color-white);
  position: relative; }

.contain_bg-gray {
  background-color: var(--color-strong-gray);
  color: var(--color-white); }

.block-proyec {
  display: flex;
  position: relative;
  height: 12rem;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .block-proyec:hover .block-proyec__bg-gray {
      bottom: 0; } }

.block-proyec__bg-gray {
  background-color: rgba(36, 35, 35, 0.719);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  z-index: var(--z-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease; }
  @media screen and (min-width: 768px) {
    .block-proyec__bg-gray {
      bottom: -100%; } }

.custom-shape-divider-top-1642273442 {
  position: absolute;
  top: -53px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-1642273442 svg {
  position: relative;
  display: block;
  width: calc(228% + 1.3px);
  height: 54px; }

.custom-shape-divider-top-1642273442 .shape-fill {
  fill: var(--color-white); }

.skill__box {
  padding: 1rem 1rem; }

.skill__content {
  padding: 0 1rem; }

.contact__img1 {
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px); }

.contact__block {
  display: flex;
  justify-content: center;
  align-items: center; }

.contact__block-link {
  position: relative;
  font-size: 4rem;
  text-align: center; }
  .contact__block-link .fa-linkedin {
    color: #0A66C2; }
  .contact__block-link .fa-telegram {
    color: #23AAEB; }
  .contact__block-link .fa-twitter-square {
    color: #179CF0; }
  .contact__block-link .fa-whatsapp-square {
    color: #0DC143; }
  .contact__block-link .fab:hover {
    color: var(--color-white); }
  @media screen and (min-width: 768px) {
    .contact__block-link {
      position: absolute; } }

.contact__img2 {
  display: none; }
  @media screen and (min-width: 768px) {
    .contact__img2 {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px; } }

.form-block {
  border: 2px solid var(--color-gray);
  border-radius: .5rem;
  padding: .4rem .5rem;
  display: flex;
  flex-flow: column wrap; }
  @media screen and (min-width: 768px) {
    .form-block {
      padding: 1rem 2rem;
      margin: 0 2rem; } }

.form__input {
  width: 100%;
  padding: .4rem 1rem;
  margin-bottom: .5rem;
  border-radius: .3rem; }

.footer-content {
  z-index: var(--z-back);
  position: sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-strong-gray);
  padding: 2rem 0; }
  .footer-content p {
    color: var(--color-white);
    margin: 0; }

.footer__line {
  border: 2px solid var(--color-gray);
  margin-top: -.5rem; }

.footer__span-text {
  color: black;
  font-size: 1rem;
  font-weight: 900; }
