.banner{
    z-index: var(--z-normal);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 6.8rem auto 13rem;
    grid-template-areas: 
    "menu"
    "block__cv"
    "block__tool";
    position: sticky;
    top: 0;
    @include rwd(md){
        grid-template-rows: 6.8rem auto 22rem;   
    }
}
.banner__img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    object-position: center;
    object-fit: cover;
    background-color: rgb(52, 52, 52);
}
// .banner__img::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: black;
//     // z-index: 1;
// }
.item__block-cv{
    grid-area: block__cv;
    // background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__block-tool{
    grid-area: block__tool;
    overflow: hidden;
    display: flex;
}
.banner__content-tool{
    display: flex;    
    align-items: center;
    overflow: scroll;
    color: var(--color-white);
    @include rwd(lg){
        overflow: hidden;
    }
}
.banner__content-tool h4{
    text-align: start;
    font-size: var(--nav-font-size);
}
.banner__content-tool p{
    font-size: var(--banner-font-size-slim);
}
.banner__content-mi{
    position:absolute;    
}
div .banner__filter{
    box-shadow: var(--color-shadow);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: rgba(59, 56, 56, 0.726);
    border-radius: 5px;
    padding: 10px;
}
.banner__text{
    font-size: var(--banner-font-size);
    font-weight: var(--weight-bold);
    color: var(--color-secon);
    @include rwd(md){
        color: var(--color-black);
    }
}
.banner__text-change{
    -webkit-text-stroke: .4px black;
    color: var(--color-black);
    @include rwd(md){
        color: var(--color-secon);
    }
}
.banner__img-mi{
    width: 60%;
    // clip-path: circle(30% at 60% 45%);
    box-shadow: var(--color-shadow);
    @include rwd(md){
        width: 100%;
    }
}