.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner__img{
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.banner__content{
    position:absolute;
    color: var(--color-border);
    @include rwd(md){
        color: var(--color-strong-gray);
    }
}
.banner__text{
    font-size: var(--banner-font-size);
    font-weight: var(--slim-weight500);
}
.banner__text-2{
    font-weight: calc(var(--slim-weight500) + 200);
}
.banner__text-3{
    font-weight: calc(var(--slim-weight500) + 100);
}
.banner__text-change{
    color: var(--color-first);
    @include rwd(md){
        color: var(--color-secon);
    }
}

