main .btn{
    display: block;
    padding: .8em 1em;
    margin-top: 20px;
    background-color: var(--color-secon);
    color:var(--color-white) ;
    border: 2px solid var(--color-secon);
    border-radius: .3em;
    transition: all .3s ease;

    &:hover{
        color: var(--color-secon);
        background-color: transparent;
    }
}
main .btn__proyec{
    padding: .2em 2em;
    margin: 0 .5rem;
    &:hover{
        color: var(--color-white);
    }
}
main .btn__contact{
    &:hover{
        color: var(--color-white);
    }
}
.btn_up-scroll{
    z-index: var(--z-tooltip);
    border-radius: 4px;
    border: 2px solid var(--color-secon); 
    line-height: 0;
    display: inline-block;
    position: sticky;
    left: 94%;
    top: 80%;
    cursor: pointer;
    font-size: 2rem;
    transition: all .5s ease-in-out;
    :hover{
        color: var(--color-secon);
        background-color: transparent;
    }
}
.fa-angle-double-up{    
    padding: .5rem;
    background-color: var(--color-secon);
    color: var(--color-white);
}