main .btn{
    display: inline-block;
    padding: .8em 1em;
    margin-top: 20px;
    background-color: var(--color-secon);
    color:var(--color-white) ;
    // font-size: var();
    border: 2px solid var(--color-secon);
    border-radius: .3em;
    transition: all .3s ease;

    &:hover{
        color: var(--color-secon);
        background-color: transparent;
    }
}
main .btn__proyec{
    padding: .2em 2em;
    margin: 0 .5rem;
    &:hover{
        color: white;
    }
}
.btn__contact{
    background-color: yellow;
    &:hover{
        color: #000;
    }
    @include rwd(md){
    }
}