main .btn{
    display: block;
    padding: .8em 1em;
    margin-top: 20px;
    background-color: var(--color-secon);
    color:var(--color-white) ;
    border: 2px solid var(--color-secon);
    border-radius: .3em;
    transition: all .3s ease;

    &:hover{
        color: var(--color-secon);
        background-color: transparent;
    }
}
main .btn__proyec{
    padding: .2em 2em;
    margin: 0 .5rem;
    &:hover{
        color: var(--color-white);
    }
}
main .btn__contact{
    &:hover{
        color: var(--color-white);
    }
}