
.contact__img1{
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    // clip-path: polygon(2px 2px,100% 0,100% 99%,2px 99%);
}
.contact__block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__block-link{
    position: relative;
    font-size: 4rem;
    text-align: center;
    .fa-linkedin{
        color: #0A66C2;
    }
    .fa-telegram{
        color: #23AAEB;
    }
    .fa-twitter-square{
        color: #179CF0;
    }
    .fa-whatsapp-square{
        color: #0DC143;

    }
    .fab:hover{
        color: var(--color-white);
    }
    @include rwd(md){
        position: absolute;
    }
}
.contact__img2{
    display: none;
    @include rwd(md){
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
}
.form-block{
    border: 2px solid var(--color-gray);
    border-radius: .5rem;
    padding: .4rem .5rem;
    display: flex;
    flex-flow: column wrap;
    @include rwd(md){
        padding: 1rem 2rem;
        margin: 0 2rem;
    }
}
.form__input{
    width: 100%;
    padding: .4rem 1rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
}