.content__img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}
.form-block{
    border: 2px solid var(--color-gray);
    border-radius: .5rem;
    padding: .4rem .5rem;
    display: flex;
    flex-flow: column wrap;
    // position: relative;
    @include rwd(md){
        padding: 1rem 2rem;
        margin: 0 2rem;
    }
}
.form-img{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
    padding:0 2rem ;
    margin-bottom: 2rem;
    // border-radius: 50px;
}
.form__input{
    width: 100%;
    padding: .4rem 1rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
}