.footer-content{
    // z-index: var(--z-back);
    // position:sticky;
    // width: 100%;
    // bottom: 0;
    // right: 0;
    // left: 0;
    background-color: var(--color-strong-gray);
    padding: 2rem 0;
    p {
        color: white;
        margin:0;
        // position: relative;
    }
}
.footer__line{
    border: 2px solid var(--color-gray);
    margin-top: -.5rem;
}
.footer__span-text{
    color: black;
    font-size: 1rem;
    font-weight: 900;
}