//TODO: de donde tomo el estandar de altura de header
.menu{
    z-index: var(--z-modal);
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: all .3s ease-in;
    &-scrolly{
        background-color: var(--color-secon);
        //TODO: No estare bajando mucho
        .menu-color-logo{
            color: var(--color-white);
        }
        .menu__link:hover{
            color: var(--color-gray);
        }
    }

    &-block{
        display: flex;
        flex-flow:column wrap ;
        align-items: center;
        padding: 1rem 0;
        @include rwd(md){
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}
.menu__logo{
    letter-spacing: .4rem;
    font-size:1.5em;
    font-weight: 600;
}
.menu-color-logo{
    color: var(--color-secon);
    transition: all .3s ease-in;
}