
.menu-nav__block{
    font-size: var(--nav-font-size);
    font-weight: var(--weight-slim);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}
.menu__li{
    display: inline-block;
}
.menu__link{
    display: block;
    padding: .5rem 1rem;
    transition: color .3s ease;
    &:hover{
        color: var(--color-alert);
    }
}