
.skill__box-click{
    padding: 1rem 1rem;
    @include rwd(md){
        background-color: var(--color-gray);
        border: 2px solid var(--color-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // transition: all 5s;
        &:hover{
            transition: all .8s;
            background-color: var(--color-white);
        }
        &:hover .icon-down{
            transition: all .8s;
            color: black;
        }

        border-radius: .5em;
    }
}
.skill__content{
    padding: 0 1rem;
    @include rwd(md){
        overflow: hidden;
        height: 0;
        // display: none;
        transition: all .5s ease-out;
    }
}
.show{
    display: block;
    height: 480px;
    // overflow: visible;
    //TODO: poner transicion con height automatico no funciona
}
.info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.bar100{
    background-color: var(--color-gray);
    width: 100%;
    height: 1em;
    border-radius: .5em;
    position: relative;
    top: -1rem;
    
}
.bar__hide{
    background-color: var(--color-secon);
    width: 0;
    height: 1em;
    border-radius: .5em;
    transition: all .3s ease-in;
    &.bar__show{
        width: 90%;
    }
}
//TODO: mejorar codigo
// .bar__show::after{
//     content: '90%';
//     display: block;
//     position: absolute;
//     bottom: 2rem;
//     left: 90%;
// }